.banner-image{
    width: 500px;
    height: 500px;
}
.card-image{
    height: 300px;
    width: 300px;
}
.card-image-section{
    padding: 30px;
    border-radius: 10px;
    background-color: rgb(221, 214, 214);
}

.card-footer{
    border: none;
    background-color: white;
}
.btn-icon{
    height: 30px;
    width: 30px;
}
.buy-now-button{
    padding: 5px 20px;
    background-color: rgb(130, 194, 28);
    border: none;
}
.buy-now-button:hover{
    background-color: rgb(92, 129, 17);
}
.logo{
    width: 350px;
    height: 50px;
}
section{
    margin-bottom: 100px;
}
.margin-bottom-50{
    margin-bottom: 50px;
}
.footer-icon {
    height: 100px;
    width: 100px;
    margin-right: 30px;
}
.footer-single-benefit{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
    border-radius: 10px;
    padding:20px;
    margin: 30px;
}
.footer-right-image img{
    width: 700px;
    height: 450px;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
    border-radius: 10px;
    padding: 20px 20px;     
}